/*
 * Make text legible for people over legal drinking age
 */
/* - lines of body text */
.a3s, .g6 { font: 1rem/1.5 Arial, Helvetica, sans-serif; }
/* - parts of the From indicator */
h3.iw { font-size: inherit; }
/* - recipients list */
.hx .hb { font-size: 0.9rem; }
/* - time stamp */
.ig .g3, .hI .g3, .iv .g3 { font-size: 0.9rem; }

/*
 * Wrap text to within best practices
 */
.a3s, .g6 { max-width: 80ch; }

/*
 * Editing without squinting
 */
.Am, .LW-avf.Am {
  font: 1rem/1.5 Arial,Helvetica,sans-serif;
  max-width: 80ch;
}

/*
 * Remove ugly clutter
 */
/* - big Compose button + add some margin back */
.z0 { display: none; }
.yJ { margin-top: 50px; }
/* - logo */
.gb_sc { display: none !important; }
/* - hamburger */
.gb_yc { display: none; }
/* - support */
.gb_we.gb_ue { display: none; }
/* - apps */
.gb_Rc { display: none; }
/* - input method, because you don't have threads but Dvorak input was a must-have */
.aBS.J-J5-Ji { display: none; }
/* - powered by Google (we knew that?) */
.aeU .mb, .aeU a { color: white; }
/* - canned answers */
.brb { display: none; }
