
/***************************************************************************************************
 * The idea behind `Usable` at this point is that some of the work still has to happen in the      *
 * Gmail UI itself. That UI presents challenges of its own and decisions that are hard to explain. *
 * This stylesheet exists to modify some of the more glaring design defects there.                 *
 **************************************************************************************************/


/*
 * Make text legible for people over legal drinking age
 */
/* - lines of body text */
.a3s, .g6 { font: 1rem/1.5 Arial, Helvetica, sans-serif !important; }
.gmail-mp4p { font-size: inherit !important; }
/* - parts of the From indicator */
h3.iw { font-size: inherit !important; }
/* - recipients list */
.hx .hb { font-size: 0.9rem !important; }
/* - time stamp */
.ig .g3, .hI .g3, .iv .g3 { font-size: 0.9rem !important; }

/*
 * Wrap text to within best practices (this may break stuff)
 */
.a3s, .g6 { max-width: 80ch !important; }

/*
 * Editing without squinting
 */
.Am, .LW-avf.Am {
  font: 1rem/1.5 Arial,Helvetica,sans-serif !important;
  max-width: 80ch !important;
}

/*
 * Remove ugly clutter
 */
/* - big Compose button + add some margin back */
.z0 { display: none !important; }
.yJ { margin-top: 50px !important; }
/* - logo */
[href="#inbox"][title="Gmail"] { display: none !important; }
/* - hamburger */
[aria-label="Main menu"] { display: none !important; }
/* - support */
#lZwQje { display: none !important; }
/* - apps */
#gbwa { display: none !important; }
/* - input method, because you don't have threads but Dvorak input was a must-have */
.aBS { display: none !important; }
/* - powered by Google (we knew that?) */
.aeU .mb, .aeU a { color: white !important; }
/* - canned answers */
.brb { display: none !important; }
/* - if I want to use Meet, I know where to find it */
.n6,
[data-tooltip="Meet"],
[data-tooltip="My meetings"],
[data-tooltip="New meeting"] { display: none !important; }
