
/***************************************************************************************************
 * The idea behind `Usable` at this point is that some of the work still has to happen in the      *
 * Gmail UI itself. That UI presents challenges of its own and decisions that are hard to explain. *
 * This stylesheet exists to modify some of the more glaring design defects there.                 *
 **************************************************************************************************/


/*
 * Make text legible for people over legal drinking age. You apparently can't change that without
 * making other parts of the UI humongous.
 */
/* - lines of body text */
.a3s, .g6 { font: 1rem/1.5 Arial, Helvetica, sans-serif !important; }
.gmail-mp4p { font-size: inherit !important; }

/* - parts of the From indicator */
h3.iw { font-size: inherit !important; }

/* - recipients list */
.hx .hb { font-size: 0.9rem !important; }

/* - time stamp */
.ig .g3, .hI .g3, .iv .g3 { font-size: 0.9rem !important; }

/*
 * Wrap text to within best practices. This just injects some basic respect for typography.
 */
.a3s, .g6 { max-width: 80ch !important; }

/*
 * Editing without squinting. You can actually make this text larger by changing the default, but
 * that changes the size of the text you send to everyone. This change improves things for those of
 * us who don't see "it looks fine on my machine" as the best in design.
 */
.Am, .LW-avf.Am {
  font: 1rem/1.5 Arial,Helvetica,sans-serif !important;
  max-width: 80ch !important;
}

/*
 * Remove ugly clutter. Email is a productivity tool, not a branding opportunity. The logo shouldn't
 * be the most important thing on the page.
 */
/* - big Compose button + add some margin back */
.z0 { display: none !important; }
.yJ { margin-top: 50px !important; }

/* - remove the logo */
[src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png"] { display: none !important; }

/* - we don't need the hamburger */
[aria-label="Main menu"] { display: none !important; }

/* - we don't need support */
#lZwQje { display: none !important; }

/* - we know where to find those other apps */
#gbwa { display: none !important; }

/* - input method, because you don't can't have threads or read the names of people who send you
     email but Dvorak input was a high priority must-have */
.aBS { display: none !important; }

/* - powered by Google (we knew that?) */
.aeU .mb, .aeU a { color: white !important; }

/* - canned answers — this is email, not a chat system */
.brb { display: none !important; }
