
#usable-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#usable-toggle button {
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-family: Roboto;
  border: none;
  margin: 0.7rem;
  cursor: pointer;
}
